 {% load static %}
 <footer class="footer ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
						<h2 class="footer-heading">Cleano</h2>
						<p>The best cleaning service in town.</p>
						<!-- <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul> -->
					</div>
					<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
						
					</div>
					<div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
						
					</div>
					<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
						<h2 class="footer-heading">Have Questions?</h2>
						<div class="block-23 mb-3">
              <ul>
                <li><span class="icon fa fa-map-marker"></span><span class="text">Aluva, Kochi, Ernakulam, Kerala, India</span></li>
                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+91 8590058533</span></a></li>
                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">cleanopth@gmail.com</span></a></li>
              </ul>
            </div>
					</div>
				</div>
				<!--  -->
		</footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static 'Guest/js/jquery.min.js' %}"></script>
  <script src="{% static 'Guest/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'Guest/js/popper.min.js' %}"></script>
  <script src="{% static 'Guest/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'Guest/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'Guest/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'Guest/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'Guest/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'Guest/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'Guest/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'Guest/js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'Guest/js/google-map.js' %}"></script>
  <script src="{% static 'Guest/js/main.js' %}"></script>
    
  </body>
</html>