{% load static %}
{% include 'Company/companyheader.html' %}

<div class="body-wrapper">
	<header class="app-header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<ul class="navbar-nav">
				<li class="nav-item d-block d-xl-none">
					<a class="nav-link sidebartoggler" id="headerCollapse" href="javascript:void(0)">
						<i class="ti ti-menu-2"></i>
					</a>
				</li>
			</ul>
		</nav>
	</header>

	<div class="body-wrapper-inner">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h5 class="mb-0">Change Password</h5>
						</div>
						<div class="card-body">
							<form method="post">
								{% csrf_token %}
								<div class="mb-3">
									<label for="current_password" class="form-label">Current Password</label>
									<input type="password" class="form-control" id="current_password" name="current_password" required>
								</div>
								<div class="mb-3">
									<label for="new_password" class="form-label">New Password</label>
									<input type="password" class="form-control" id="new_password" name="new_password" required>
								</div>
								<div class="mb-3">
									<label for="confirm_password" class="form-label">Confirm New Password</label>
									<input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
								</div>
								<button type="submit" class="btn btn-primary">Update Password</button>
								<a href="{% url 'companyprofile' %}" class="btn btn-light ms-2">Cancel</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'Company/companyfooter.html' %}
